.form {
    display:        flex;
    flex-direction: column;
    max-width:      1200px;
    margin:         1em auto;
}

.form-element-row, .form-element-column {
    padding:        1em;
}

.form-element-column {
    display:        flex;
    flex-direction: row;
}

.form-element-row {
    display:        flex;
    flex-direction: column;
}

.form-label, .form-field {
    flex-grow:      1;
    flex-basis:     0;
}

.form-label {
    padding-top:    1em;
    padding-bottom: 1em;
}