.game-list-item {
    display:          inline-block;
    color:            white;
    background-color: black;
    max-width:        265px;
}

.game-list-item-cover {
    padding:          20px;
    background-color: lightgray;
}

.game-list-item-cover img {
    width:  225px;
    height: 300px;
}

.game-list-item-data {
    padding: 20px;
}

.game-list-item-action input {
    width: 100%;
    padding: 20px;
    font-size: 1em;
}

.game-list-item a {
    color: white;
}

.game-list-item:hover {
    background-color: white;
}

.game-list-item:hover a {
    color: black;
}