.game-list {
    padding:          20px;
    background-color: #F8F8F8;
}

.game-list-header {
    padding:          10px;
}

.game-list-games {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
}

.game-list-games .game-list-item {
    margin: 20px;
}