.import-prompt-box{
	margin:			30px;
	padding:		20px;
	text-align:		center;
	flex-direction:	column;
}

.import-warning{
	
}

.import-buttons-box{
	margin-top:		20px;
	margin-bottom:	10px;
}

.import-tip{
	color: rgba(0, 0, 0, 0.5);
}