#navigation {
    display: flex;
    background-color: #34414b;
}

.navigation-search {
    flex-grow: 1;
}

.navigation-search input {
    width: 100%;
}

.navigation-logo-container a {
    color: white;
    text-decoration: none;
}