.navigation-search-bar input {
    padding: 10px;
}
.navigation-search-bar-content {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.navigation-search-bar-input input {
    width: 100%;
}

.navigation-search-bar-input {
    flex-grow: 1;
}