* {
    margin:  0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.not-rounded-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bg-very-light {
    background-color: rgba(0,0,0,.03);
}

.bg-very-dark {
    background-color: #263137;
}

.cover {
    height: 400px;
}

.right-wave {
    border-bottom-right-radius: 10em !important;
}

.left-wave {
    border-bottom-left-radius: 10em !important;
}

.genre {
    height: 120px;
}

.padding-right-wave {
    padding-right: 10em;
}

.padding-left-wave {
    padding-left: 10em;
}