* {
    margin:  0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.not-rounded-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bg-very-light {
    background-color: rgba(0,0,0,.03);
}

.bg-very-dark {
    background-color: #263137;
}

.cover {
    height: 400px;
}

.right-wave {
    border-bottom-right-radius: 4em !important;
}

.left-wave {
    border-bottom-left-radius: 4em !important;
}

.genre {
    height: 120px;
}

.padding-right-wave {
    padding-right: 4em;
}

.padding-left-wave {
    padding-left: 4em;
}

.share-tech-mono {
    font-family: 'Share Tech Mono', monospace;
}

.slider::-webkit-slider-thumb {
    background: #607D8B;
}

.slider::-moz-range-thumb {
    background: #607D8B;
}
.first span { color: #607D8B }
.first .slider::-webkit-slider-thumb { background: #607D8B }

.slider {
    background-color: #CFD8DC;
    height: 15px;
}

.first .slider {
    background-color: #CFD8DC;
}