$theme-colors: (
  "blue": #2196f3,
  "indigo": #607d8b,
  "purple": #673ab7,
  "pink": #e91e63,
  "red": #f44336,
  "orange": #ff9800,
  "yellow": #ffc107,
  "green": #4caf50,
  "teal": #009688,
  "cyan": #00bcd4,
  "white": #fff,
  "gray": #6c757d,
  "gray-dark": #343a40,
  "very-dark": #263137,
  "light-grey": #f7f7f7,
  "primary": #607d8b,
  "secondary": #ffc107,
  "success": #4caf50,
  "info": #00bcd4,
  "warning": #ff9800,
  "danger": #f44336,
  "light": #cfd8dc,
  "dark": #455a64,
);
.no-lineheight {
  line-height: 0;
}
.form-error {
  color: #cb0000;
  margin-bottom: 0;
}
.cover {
  height: 320px;
}

.cover-mini {
  width: 100px;
}

.cover-wide {
  height: 400px;
}

.list-card-icon {
  max-height: 7rem;
  max-width: 7rem;
}

.score-display {
  font-size: 32px;
  font-style: bold;
}

.share-tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.bg-very-dark {
  background-color: #263137;
}

.bg-dark-white {
  background-color: #f5f5f5;
}

.bg-light-grey {
  background-color: #e2e2e2;
}

.color-white {
  color: white !important;
}

@import "~bootstrap/scss/bootstrap.scss";
