.checkbox-array-container {
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
}

.checkbox-container {
    padding:            1em;
    margin-left:        0.5em;
    margin-right:       0.5em;
    margin-bottom:      1em;
}